.user{
    display: flex;
    justify-content: flex-end;
}

.user img{
    height:50px;
    width:50px;
}

.head h1{
    text-align: center;
}

.article{
    border:1px solid rgb(218, 38, 38);
    border-radius: 15px;
    padding: 1rem;
    margin:1rem;
    display: grid;
    grid-template-columns: repeat(2,40%);  
}

.article img{
    width:300px;

}

@media screen and (max-width: 600px) {
    .article{
        border:1px solid rgb(218, 38, 38);
        border-radius: 15px;
        padding: 1rem;
        margin:1rem;
        display: grid;
        grid-template-columns: auto auto;  
    } 
    .article img{
        width:150px;
    
    }
}

.head-link{
    border:1px solid;
    background-color: red;
    padding: 2px;
    margin: 2px;
    color:white;
}
.App{
    background-color: aquamarine;
}
.comment{
    border:1px solid red;
    color:white;
    background-color: red;
    border-radius: 10px;
}